.mainlogo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* background: red; */

    margin-top: 15%;
}
.predio, .obra {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: yellow; */

}
.predio img, .obra img {
    max-width: 150px;
    width: 40%;
}